{% extends "base_map.html" %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="/css/webflow_base.css">

    # by Sridhar.  styles moved to external file
    <link rel="stylesheet" type="text/css" href="/css/custom/sridhar.css">



{% endblock %}

{% block body %}

    <div id="container" class="container">
        <div id="dashboard-top-spacer">&nbsp;</div>

        <div class="row">
            <div class="col-md-8">
                <div class="twothirds_div">
                    <h1>COMMUNITY</h1>
                    
                    <br><br>
                    <table style="width:100%" class="svrTable">
                        <tr class="svrTable">
                            <th class="svrTableHead">
                                
                            </th>
                            <th class="svrTableHead">
                                Name
                            </th>
                            <th class="svrTableHead">
                                Tier
                            </th>
                            <th class="svrTableHead">
                                Points
                            </th>
                        </tr>

                        {% for row in recentUsers %}
                            <tr class="svrTable">
                                <td class="svrTable">
                                    <img class="userImage" src="/images/users/user_{{row['user_id']}}.jpg" alt="user image" Title="User">
                                </td>
                                <td class="svrTable">
                                    {{ row['display_name'] }}
                                </td>
                                <td class="svrTable">
                                    {{ row['tier'] }}
                                </td>
                                <td class="svrTable">
                                    {{ row['point_balance']|round|int }}
                                </td>
                            </tr>
                        {% endfor %}
                    </table>    


                </div>
            </div>
        </div>

    </div>

{% endblock %}
