{% extends "base_map.html" %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="/css/webflow_base.css">
    # by Sridhar.  styles moved to external file
    <link rel="stylesheet" type="text/css" href="/css/custom/sridhar.css">


{% endblock %}

{% block body %}

    <div id="container" class="container">
        <div id="dashboard-top-spacer">&nbsp;</div>

        <div class="row">
            <div class="col-md-8">
                <div class="twothirds_div">
                    <h1>Ready to begin assessment</h1>
                    Read the README.md file for further instructions.
                </div>
            </div>
        </div>

    </div>

{% endblock %}
